# Decide host and port for your Cat. Default will be localhost:1865
# GRINNING_CAT_API_HOST=http://your-grinning-cat-instance
# GRINNING_CAT_API_PORT=1865
# GRINNING_CAT_API_KEY=your-api-key
# GRINNING_CAT_API_SECURE_CONNECTION=false
# GRINNING_CAT_CHECK_INTERVAL=60
# GRINNING_CAT_INTRO_MESSAGE="Welcome to Grinning Cat!"